@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.903);
    color: white;

}


main{
    text-align: center;
    margin: auto;
    border: 1px solid red;
    border-radius: 20px;
    width: 50%;
    padding: 20px 10px;
    font-size: 25pt;
}


input[type="submit"]{
        border: 0;
        background-color: black;
        color: white;
        border-radius: 20px;
        padding: 10px;
        margin-top: 20px;
        font-size: 20pt;
}


input[type="text"]{
    border: 0;
    border-bottom: 1px solid black;
    background-color: rgba(250, 235, 215, 0);
}
input::placeholder{
    color: rgba(255, 255, 255, 0.295);
    font-family: roboto;
}

span{
    font-weight: bolder;
}

.table-deye{

    border: 1px solid black;
    width: 50%;
    margin: auto;
    padding: 15px 10px;
}
td{
    border: 1px solid black;
    padding: 5px;
}